<nav class="navbar navbar-expand-lg bg-body-tertiary bg-dark border-bottom border-body" data-bs-theme="dark">
  <div class="container-fluid">
    <a class="navbar-brand">DSM</a>
    <div class="collapse navbar-collapse" id="navbarNavDropdown">
        
      <ul class="navbar-nav">
        <li class="nav-item">
          <a class="nav-link active" aria-current="page" href="/">Cadastro</a>
        </li>
        <li class="nav-item">
          <a class="nav-link active" aria-current="page" href="/lista">Lista</a>
        </li>
          <ul class="dropdown-menu">
            <li><a class="dropdown-item" href="#">Action</a></li>
            <li><a class="dropdown-item" href="#">Another action</a></li>
            <li><a class="dropdown-item" href="#">Something else here</a></li>
          </ul>
        </li>
      </ul>
    </div>
  </div>
</nav>

<h1>Pagina do cadastro</h1>

<nav class="navbar bg-body-tertiary">
  <form class="container-fluid">

    <div class="col-10 mb-3">
      <label for="IdName" class="form-label">Nome:</label>
      <input type="text" class="form-control" placeholder="Nome" id="IdName">
    </div>

    <div class="col-10 mb-3">
      <label for="IdCell" class="form-label">Telefone:</label>
      <input type="tel" class="form-control" placeholder="telefone" id="IdCell">
    </div>

    <div class="col-10 mb-3">
      <label for="IdOrigin" class="form-label">Origem:</label>
      <select class="form-select" aria-label="Default select example" id="IdOrigin">
        <option selected>Celular</option>
        <option value="1">One</option>
        <option value="2">Two</option>
        <option value="3">Three</option>
      </select>
    </div>

    <div class="col-10 mb-3">
      <label for="IdData" class="form-label">Data de Contato:</label>
      <input type="date" class="form-control" placeholder="mm/dd/yyyy" id="IdData">
    </div>

    <div class=" col-10 mb-3">
      <label for="IdObservacao" class="form-label">Observação:</label>
      <textarea class="form-control" id="IdObservacao" rows="3"></textarea>
    </div>

  </form>

  <nav>
  <form class="container-fluid justify-content-start">
    <button class="btn btn-outline-success me-2" type="button">Salvar</button>
  </form>
  </nav>
</nav>